@model Craigslist.Domain.Entities.Listing

<div id="listing-details">
	<p>@Model.Category.Name</p>
	<p>@Model.Header  @Model.Price.ToString("c")</p>
	<p>@Model.Created</p>
	<p>@Model.Body</p>

	<p>Contact Details:</p>
	<p>@Model.Contact.FirstName @Model.Contact.LastName</p>
	<p>@Model.Contact.Email</p>
	<p>@Model.Contact.Phone</p>
</div>