@model Craigslist.Domain.Entities.Listing
<div class="list-item-callout list-group">
    <span class="list-group-item" onclick="window.location = '@Url.Action("Detail", new {listingId = @Model.Id})'">
        @if (@Model.Category.ParentCategory != null)
        {
            @Model.Category.ParentCategory.Name @:->
		}
        @Model.Category.Name
        <br />
        <span class="list-group-item-heading"><h2>@Model.Header</h2></span>
        <span class="list-item-price badge badge-success">@Model.Price.ToString("c")</span>
    </span>
</div>