@model Craigslist.Models.Listings.ListingPublishingViewModel

@using (Html.BeginForm("Publish")) {
	<div id="publish-ad-validation-summary">
		@Html.ValidationSummary()
	</div>
	<div id="publish-ad-contact-datails">
		<label>Your contact information:</label>
		@Html.TextBoxFor(i => i.Listing.Contact.FirstName, new {placeholder = "First Name"})
		@Html.TextBoxFor(i => i.Listing.Contact.LastName, new {placeholder = "Last Name"})
		@Html.TextBoxFor(i => i.Listing.Contact.Email, new {placeholder = "Email", type = "email"})
		@Html.TextBoxFor(i => i.Listing.Contact.Phone, new {placeholder = "Phone Number"})
	</div>
	<div id="publish-ad-topbar">
		<label>Title:</label>
		@Html.TextBoxFor(i => i.Listing.Header, new { id = "publish-ad-header" })
		<label>Price:</label>
		@Html.TextBoxFor(i=> i.Listing.Price, new {type = "number"})
		<label>Category:</label>
		@Html.DropDownListFor(i => i.Listing.CategoryId, @Model.Categories)
	</div>
	@Html.TextAreaFor(i=> i.Listing.Body, new {id = "publish-ad-body"})
	<button type="submit">Publish</button>
}