@model Craigslist.Domain.Entities.Listing

@using (Html.BeginForm("Publish")) {
	<div id="publish-ad-validation-summary">
		@Html.ValidationSummary()
	</div>
	<div id="publish-ad-contact-datails">
		<label>Your contact information:</label>
		@Html.TextBoxFor(i => i.Contact.FirstName, new {placeholder = "First Name"})
		@Html.TextBoxFor(i => i.Contact.LastName, new {placeholder = "Last Name"})
		@Html.TextBoxFor(i => i.Contact.Email, new {placeholder = "Email", type = "email"})
		@Html.TextBoxFor(i => i.Contact.Phone, new {placeholder = "Phone", pattern = "(000) 000-0000"})
	</div>
	<div id="publish-ad-topbar">
		<label>Title:</label>
		@Html.TextBoxFor(i => i.Header, new { id = "publish-ad-header" })
		<label>Category:</label>
		<!-- Category-->
	</div>
	@Html.TextAreaFor(i=> i.Body, new {id = "publish-ad-body"})
	<button type="submit">Publish</button>
}