@model Craigslist.Models.Listings.ListingPublishingViewModel
@using (Html.BeginForm("Publish"))
{
    <div id="publish-ad-validation-summary">
        @Html.ValidationSummary()
    </div>
    <div class="container">
        <div class="jumbotron" id="add-listing-jumbotron">
            <div id="publish-ad-contact-datails">
                <label align="center">Your Contact Information</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextBoxFor(i => i.Listing.Contact.FirstName, new { placeholder = "First Name", @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(i => i.Listing.Contact.LastName, new { placeholder = "Last Name", @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextBoxFor(i => i.Listing.Contact.Email, new { placeholder = "Email", type = "email", @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(i => i.Listing.Contact.Phone, new { placeholder = "(000)000-0000", type = "text", @class = "form-control", placement = "top", trigger = "manual" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.TextBoxFor(i => i.Listing.Header, new { id = "publish-ad-header", @class = "form-control", placeholder = "Title of Ad" })
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(i => i.Listing.Price, new { @class = "form-control", placeholder = "$", type="number" })
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(i => i.Listing.CategoryId, @Model.Categories, new { @class = "form-control", })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="publish-ad-body">Description:</label>
                @Html.TextAreaFor(i => i.Listing.Body, new { id = "publish-ad-body", @class = "form-control", @placeholder = "Add Description" })
            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
        </div>
    </div>
}