<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ITU's Craigslist</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
        <div class="container">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
					    <div id="itu-logo" class="navbar-brand" onclick="document.location='@Url.Action("List", "Listing")'">
							<img id="itu-logo" src="https://ituedu-141b.kxcdn.com/wp-content/uploads/2013/08/crest_itu_250x100.png" />
                            <span>ITU's CRAIGSLIST</span>
					    </div>
                        @Html.ActionLink("Create a posting!", "Publish", new {controller = "Listing"}, new {id="navbar-new-post"})
					</div>
				</div>
			</div>
		</div>
    <div class="container">
	@Html.Action("Index", "Navigation")
	<hr />
    </div>
    <div class="container body-content">
        @RenderBody()
    <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - ITU Craigslist</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>